{{ define "main" }}
  {{ $currentPage := . }}
  {{ $dateFormat := default "Jan 2" (index .Site.Params "date_format") }}
  {{ $.Scratch.Set "lastYear" ""}}

  {{ if .Site.Params.debug }}
    {{ partial "show-template" (dict "Which" .Kind "Template" "themes/namrider/layouts/posts/list.html") }}
  {{ end }}

  <section id="article-list" class="container">

    <div class="row">
      <div class="col-sm-12 col-lg-10">
        <article class="layout-article mt-5">
          <h1>
            {{ partial "insert-heading.html" . }}
          </h1>
          <div class="layout-list-content">
            {{ .Content }}
          </div>
        </article>

        {{ partial "article-list.html" . }}

  
      </div>
          
      <div class="d-none d-lg-block col-lg-2">
        <aside class="layout-side-nav sticky-top mt-5">
          <nav id="sidebar-nav" aria-label="Secondary navigation">
            <ul class="sidebar-nav-section">
              <li class="sidebar-nav-entry sidebar-nav-h2">
                <a href="#articleTags">Article tags</a>
                <ul>
                  {{ range $name, $taxonomy := $currentPage.Site.Taxonomies.tags }}
                    {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
                      <li>
                        <a class="dropdown-item" href="{{ .Permalink | relURL }}" title="List articles tagged '{{ $name}}'" >{{ $name }}</a>
                      </li>
                    {{ end }}
                  {{ end }}
                </ul>
              </li>
            </ul>

          </nav>
        </aside>
        </div>
  
    </div>
  
  </section>

{{ end }}