{{ define "main" }}
  {{ if .Site.Params.debug }}
  {{ partial "show-template" (dict "Which" .Kind "Template" "themes/namrider/layouts/team/single.html") }}
  {{ end }}
  <section id="team" class="container">

      <div class="row">
        <div class="col-sm-12 col-lg-10">
          <article class="layout-article mt-5">
            <h1>
              {{ partial "insert-heading.html" . }}
            </h1>
            {{ .Content }}
          </article>
  
          {{ partial "team-details.html" . }}

    
        </div>
            
        <div class="d-none d-lg-block col-lg-2">
          <aside class="layout-side-nav sticky-top mt-5">
            <nav id="sidebar-nav">
              <ul>
                {{ range .Site.Data.teams }}
                  <li>
                    <a href="#{{ (printf "%s" (anchorize .name ))  }}" title="{{ .name }}">{{- .name -}}</a>
                  </li>
                {{ end }}
              </ul>
            </nav>
          </aside>
          </div>
    
      </div>
    
    </section>
{{ end }}







