{{ $navScratch := newScratch }}
<section id="{{.myID}}" class="container">

    <div class="row">
      <div class="col-sm-12 col-lg-10">
  
          <section class="layout-page-header row">
              <div class="col-12">
                    <h1 class="layout-page-title">
                        {{ partial "insert-heading.html" .myContext }}
                    </h1>
                    <div class="layout-page-intro lead">
                      {{ .myContext.Content }}
                    </div>
              </div>
            </section>
          
            <article class="row layout-page-section mt-2 container">
                
                  {{ range $index, $value := (  where .myContext.Site.RegularPages "Type" "in" (slice .mySlice) )  }}
                    {{ $navScratch.SetInMap "page-headings" (printf "%s---%s" ( safeHTML (string .Weight)) (anchorize .Title)) .Title  }}
                    <div class="row layout-top-row py-xl-5">
                      <div class="col-sm-12 col-lg-12 col-xl-4">
                        <h2 id="{{ (printf "%s---%s" ( safeHTML (string .Weight)) (anchorize .Title)) }}">{{ if .Draft }}DRAFT: {{end}}{{ .Title | markdownify }}</h2>
                      </div>
                      <div class="col-sm-12 col-lg-8 col-xl-8">
                        {{ .Content }}
                      </div>
                    </div>
                  {{ end }}
            </article>
  
      </div>
          
      <div class="d-none d-lg-block col-lg-2">
        <aside class="layout-side-nav sticky-top mt-5">
          <nav id="sidebar-nav">
            <ul>
              {{ range $index, $value := $navScratch.Get "page-headings" }}
              {{ $string := $index }}
              <li>
                <a href="#{{ $string }}" title="{{ $value }}">{{- $value -}}</a>
              </li>
            {{ end }}
            </ul>
          </nav>
        </aside>
        </div>
  
    </div>
  
  </section>