{{ $navScratch := newScratch }}

<section id="{{.myID}}" class="container layout-route-table-details">

  <div class="row">
    <div class="col-sm-12 col-lg-10">
      <article data-pagefind-body class="layout-article mt-5">
        <h1>
          {{ partial "insert-heading.html" .myContext }}
        </h1>
        {{ .myContext.Content }}
      </article>

      {{ partial "route-table-details.html" . }}

    </div>
        
    <div class="d-none d-lg-block col-lg-2">
      <aside class="layout-side-nav sticky-top mt-5">
        <nav id="sidebar-nav">
          {{ partial "route-tags.html" .myContext }}
        </nav>
      </aside>
      </div>

  </div>

</section>