<div class="alert alert-info" role="alert">
    <blockquote class="layout-blockquote layout-announcement blockquote text-left">
        <p>To all of our members,</p>

        <p>This is a short update to the membership to articulate my thoughts on where we are right now and looking to the future.</p>
        
        <p>Since March our club activity has changed considerably. The Committee have been desperately keen to avoid exposing our membership to risk and any damage to the reputation of the club.</p> 
        
        <p>There were signs over the summer that the situation was getting better. We had hoped that we would be able to restart some of our social activities in some way.  The Training Team and Observers have done a great job in continuing to deliver IAMRoadsmart courses for our Associates.</p>

        <p>With the re-introduction of restrictions announced this morning, hopes of resuming normal activity are evaporating fast. The COVID problem is going to be with us until there is an effective vaccine, no question.  No-one can predict with certainty when that will be; its clearly not going to available any time soon.</p>

        <p>With this in mind, I don't want the membership to think the group has imploded - it absolutely hasn't!  I acknowledge that perhaps I should have communicated to the membership more, sorry about that. However, the mission going forward is about re-imagining NAM in a post-covid world.</p>

        <p>There is a Committee meeting being planned in the next few weeks. Our agenda is about taking the club forward.  Its not the first time we have had that discussion. At the last Committee meeting ideas were proposed that are now being explored.  If they look doable, we will announce them at the AGM.  Yes, we are planning to hold an AGM even if that is 'virtual', in accordance with IAM guidance.  Again, we are looking into the mechanics of this and details will follow as soon as possible.</p>

        <p>We are now asking for constructive input from the membership. If you have creative ideas for future club activities (social or training), we would love to hear from you. The more wacky and creative the better!  Please contact a member of the Committee with your ideas/proposals. We will put the most feasible of those ideas into an action plan, to be delivered over the winter and throughout next season.</p>

        <p>Of course, having an idea is one thing but making it happen is another (and we cannot always rely on the same people doing all the work all of the time). If you have an idea, please detail how you envisage this working in practice, including who might be able to assist or lead. I honestly believe that there is enough expertise and good will across the membership to make amazing things happen.</p>

        <h2>Ride-outs and Observing</h2>

        <p>Given the restrictions across north-east England introduced from 18th September 2020, it is the view of the Chief Observer and Training Team that, sadly, we must suspend all observed rides with immediate effect and until further notice.  In addition to the duty of care that we have for our Observers and Associates, we have to be aware of public perception at this difficult time.</p>

        <p>Theory work, group meetings and all face-to-face operations that do not include practical elements must still be delivered via internet video applications where possible.</p>

        <p>Thank you for your continued patience, understanding and support.</p>

        <p>Wishing you all well.</p>    
        <footer class="blockquote-footer layout-announcement-footer"><strong>Mel, Chair NAM (17/9/2020)</strong></footer>
      </blockquote>
</div>