<div class="alert alert-info" role="alert">
    <blockquote class="layout-blockquote layout-announcement blockquote text-left">
        <p>Dear all NAM members,</p>
        <p>We are living in unprecedented times. Following the latest government advice, IAM Roadsmart have issued the following guidelines to all groups:
            <ul>
                <li>Stop <em>all</em> observed runs for Associates.</li>
                <li>Stop <em>all</em> meetings and social gatherings, including AGMs and recruitment activity.</li>
                <li>All advanced riding tests and assessments are suspended until further notice. </li>
            </ul>
        </p>
        <p>NAM will, of course, be following this advice. I trust that the reasons for this are understood by the membership.</p>
        <p>The Committee will continue to monitor this rapidly changing situation and respond accordingly. We are committed to restoring all club activities as soon as it is safe to do so. Safety of our members remains our top priority.</p>
        <p>Safe riding. </p>    
        <footer class="blockquote-footer layout-announcement-footer"><strong>Mel, Chairman NAM</strong></footer>
      </blockquote>
</div>





