
<div class="card mb-4">
	<div class="card-body">
		<div class="table-responsive">
			<table class="layout-download-table table">
				<thead>
					<tr>
						<th scope="col">Document</th>
						<th scope="col">File Type</th>
					</tr>
		
				</thead>
				{{ range .Page.Resources.Match "**" }}
					{{ if ne .Title "documents/.DS_Store" }}
					<tr>
						<td>
							<a href="{{ .Permalink }}" download="{{ .Name }}" class="">{{ .Title }}</a>
						</td>
						<td>
							{{ .ResourceType }}
						</td>
					</tr>
					{{ end }}
				{{ end }}
			</table>
		</div>
	</div>
</div>




