<table class="table table-bordered table-striped" id="membership-benefits">
    <tbody>
      <tr>
        <th rowspan="2">&nbsp;</th>
        <th class="text-center">Social Member</th>
        <th class="text-center">Associate Member</th>
        <th class="text-center">Full Member</th>
      </tr>
      <tr>
        <td class="text-center">£Free</td>
        <td class="text-center">included with IAM Roadsmart</td>
        <td class="text-center">only £20</td>
      </tr>
      <tr>
        <td>Monthly meetings</td>
        <td class="text-center"><div> <span aria-hidden="true"><i class="fas fa-check"></i></span> <span class="sr-only">Yes</span></div></td>
        <td class="text-center"><div> <span aria-hidden="true"><i class="fas fa-check"></i></span> <span class="sr-only">Yes</span></div></td>
        <td class="text-center"><div> <span aria-hidden="true"><i class="fas fa-check"></i></span> <span class="sr-only">Yes</span></div></td>
      </tr>
      <tr>
        <td>Weekend trips</td>
        <td class="text-center"><div> <span aria-hidden="true"><i class="fas fa-check"></i></span> <span class="sr-only">Yes</span></div></td>
        <td class="text-center"><div> <span aria-hidden="true"><i class="fas fa-check"></i></span> <span class="sr-only">Yes</span></div></td>
        <td class="text-center"><div> <span aria-hidden="true"><i class="fas fa-check"></i></span> <span class="sr-only">Yes</span></div></td>
      </tr>
      <tr>
        <td>Category 1 ride outs</td>
        <td class="text-center">&nbsp;</td>
        <td class="text-center"><div> <span aria-hidden="true"><i class="fas fa-check"></i></span> <span class="sr-only">Yes</span></div></td>
        <td class="text-center"><div> <span aria-hidden="true"><i class="fas fa-check"></i></span> <span class="sr-only">Yes</span></div></td>
      </tr>
      <tr>
        <td>Category 2 ride outs</td>
        <td class="text-center">&nbsp;</td>
        <td class="text-center">&nbsp;</td>
        <td class="text-center"><div> <span aria-hidden="true"><i class="fas fa-check"></i></span> <span class="sr-only">Yes</span></div></td>
      </tr>
      <tr>
        <td>Skills days</td>
        <td class="text-center">&nbsp;</td>
        <td class="text-center"><div> <span aria-hidden="true"><i class="fas fa-check"></i></span> <span class="sr-only">Yes</span></div></td>
        <td class="text-center"><div> <span aria-hidden="true"><i class="fas fa-check"></i></span> <span class="sr-only">Yes</span></div></td>
      </tr>
      <tr>
        <td>Slow riding</td>
        <td class="text-center">&nbsp;</td>
        <td class="text-center"><div> <span aria-hidden="true"><i class="fas fa-check"></i></span> <span class="sr-only">Yes</span></div></td>
        <td class="text-center"><div> <span aria-hidden="true"><i class="fas fa-check"></i></span> <span class="sr-only">Yes</span></div></td>
      </tr>
      <tr>
        <td>Classroom training &amp; workshops</td>
        <td class="text-center">&nbsp;</td>
        <td class="text-center"><div> <span aria-hidden="true"><i class="fas fa-check"></i></span> <span class="sr-only">Yes</span></div></td>
        <td class="text-center"><div> <span aria-hidden="true"><i class="fas fa-check"></i></span> <span class="sr-only">Yes</span></div></td>
      </tr>
      <tr>
        <td>Check rides<br /></td>
        <td class="text-center">&nbsp;</td>
        <td class="text-center">&nbsp;</td>
        <td class="text-center"><div> <span aria-hidden="true"><i class="fas fa-check"></i></span> <span class="sr-only">Yes</span></div></td>
      </tr>
      <tr>
        <td>Eligible for Observer training<br />
          (conditions apply)</td>
        <td class="text-center">&nbsp;</td>
        <td class="text-center">&nbsp;</td>
        <td class="text-center"><div> <span aria-hidden="true"><i class="fas fa-check"></i></span> <span class="sr-only">Yes</span></div></td>
      </tr>
    </tbody>
</table>