<div class="layout-route-list container">
    <div class="col-12">
      <div class="row">

        <section class="accordion layout-accordion col-xs-12 col-md-8 offset-md-2 py-3" id="accordionExample">
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Motorcycle Routes by Town
              </button>
            </h3>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <table id="routes-town-table" class="layout-routes-table table table-hover ">
                  <caption>List of motorcycle routes by town</caption>
                  <thead>
                    <tr class="">
                      <th scope="col">Town</th>
                      <th scope="col" class="text-center">Route Count</th>
                    </tr>
                  </thead>
                  <tbody>
                      {{ range .Site.Taxonomies.route_towns }}
                        <tr>
                          <td><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></td>
                          <td class="text-center" class="text-center"> {{ .Count }}</td>
                        </tr>
                      {{ end }}
                    </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Motorcycle Routes by Road
              </button>
            </h3>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <table id="routes-road-table" class="layout-routes-table table table-hover ">
                  <caption>List of motorcycle routes by road</caption>
                  <thead>
                    <tr class="">
                      <th scope="col">Road</th>
                      <th scope="col" class="text-center">Route Count</th>
                    </tr>
                  </thead>
                  <tbody>
                      {{ range .Site.Taxonomies.route_roads }}
                        <tr>
                          <td><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></td>
                          <td class="text-center"> {{ .Count }}</td>
                        </tr>
                      {{ end }}
                    </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Motorcycle Routes by Caf&eacute;
              </button>
            </h3>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <table id="routes-cafe-table" class="layout-routes-table table table-hover ">
                  <caption>List of motorcycle routes by caf&eacute;</caption>
                  <thead>
                    <tr class="">
                      <th scope="col">Caf&eacute;</th>
                      <th scope="col" class="text-center">Route Count</th>
                    </tr>
                  </thead>
                  <tbody>
                      {{ range .Site.Taxonomies.route_cafes }}
                        <tr>
                          <td><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></td>
                          <td class="text-center"> {{ .Count }}</td>
                        </tr>
                      {{ end }}
                    </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>

      </div>
    </div>

  </div>
