<table class="table table-bordered table-sm table-responsive table-striped">
    <caption>Comparison of typical 'born again biker' motorcycle specifications - present vs. 20 years ago</caption>
    <thead>
           <td></td>
          <td>2015 KTM 1290cc Super Adventure</td>
          <td>1989 Norton 600cc Commander</td>
    </thead>
    <tbody>
        <tr>

        </tr>
        <tr>
          <td>Engine Type</td>
          <td>4 Stroke   V Twin  75 Deg</td>
          <td>Wankel Rotary   Twin Rotors</td>
        </tr>
        <tr>
          <td>Displacement</td>
          <td>1301cc</td>
          <td>588cc  or is it?</td>
        </tr>
        <tr>
          <td>Camshafts</td>
          <td>Double OHC</td>
          <td> None</td>
        </tr>
        <tr>
          <td>Valves per cyl</td>
          <td>Four</td>
          <td> None</td>
        </tr>
        <tr>
          <td>Fuelling</td>
          <td>Fuel Injection</td>
          <td>Twin SU Carbs</td>
        </tr>
        <tr>
          <td>Lubrication System</td>
          <td>Recirculating 3 pumps</td>
          <td>Total Loss Single pump</td>
        </tr>
        <tr>
          <td>Engine Oil</td>
          <td>Fully Synthetic 10W-50</td>
          <td>Monograde 40 Diesel oil</td>
        </tr>
        <tr>
          <td>Bore/Stroke</td>
          <td>108/71mm</td>
          <td>NA</td>
        </tr>
        <tr>
          <td>Power</td>
          <td>160hp @ 8750rpm</td>
          <td>85hp @ 9000rpm</td>
        </tr>
        <tr>
          <td>Torque</td>
          <td>140Nm @ 6750rpm</td>
          <td>75.4Nm @ 7000rpm</td>
        </tr>
        <tr>
          <td>Compression ratio</td>
          <td>13.1 to 1</td>
          <td>9 to 1</td>
        </tr>
        <tr>
          <td>Cooling</td>
          <td>Liquid</td>
          <td>Liquid</td>
        </tr>
        <tr>
          <td>Clutch</td>
          <td>Hydraulically operated slipper clutch</td>
          <td>Cable operated wet multi plate clutch</td>
        </tr>
        <tr>
          <td>Final drive</td>
          <td>Chain 5/8&quot; x 5/16&quot; O-ring </td>
          <td>Chain 5/8&quot; x 3/8&quot; in sealed oil bath</td>
        </tr>
        <tr>
          <td>Battery</td>
          <td>12 Volt. 11.2Ah</td>
          <td>12 Volt. 28Ah </td>
        </tr>
        <tr>
          <td>Starter</td>
          <td>Electric</td>
          <td>Electric</td>
        </tr>
        <tr>
          <td>Frame</td>
          <td>Chromium Molybdenum Steel trellis, powder coated</td>
          <td>Pressed steel monocoque, powder coated</td>
        </tr>
        <tr>
          <td>Seat height</td>
          <td>860/875mm</td>
          <td>830mm</td>
        </tr>
        <tr>
          <td>Wheel base</td>
          <td>1560mm</td>
          <td>1486mm</td>
        </tr>
        <tr>
          <td>Ground clearance</td>
          <td>220mm</td>
          <td>180mm</td>
        </tr>
        <tr>
          <td>Weight (without fuel)</td>
          <td>230kg</td>
          <td>235kg</td>
        </tr>
        <tr>
          <td>Front suspension</td>
          <td>48mm WP USD Semi active electronic</td>
          <td>37mm Yamaha XJ 900 units</td>
        </tr>
        <tr>
          <td>Rear suspension</td>
          <td>Monoshock WP Semi active electronic</td>
          <td>Twin fork with Koni Dial a Ride units</td>
        </tr>
        <tr>
          <td>Front brakes</td>
          <td>twin 320mm disks with Brembo 4 Piston Radially mounted calipers</td>
          <td>Twin 265mm disks with Yamaha 2 piston calipers</td>
        </tr>
        <tr>
          <td>Rear brakes</td>
          <td>267mm disk with single Brembo 2 piston caliper</td>
          <td>265mm disk with Yamaha 2 piston caliper</td>
        </tr>
        <tr>
          <td>Silencer</td>
          <td>Stainless Steel with Catalytic converter</td>
          <td>Stainless Steel</td>
        </tr>
        <tr>
          <td>Front wheel</td>
          <td>19&quot; tubeless aluminium spoked rims</td>
          <td>18&quot; Yamaha cast tubeless</td>
        </tr>
        <tr>
          <td>Rear wheel</td>
          <td>17&quot; tubeless aluminium spoked rims</td>
          <td>18&quot; Yamaha cast tubeless</td>
        </tr>
        <tr>
          <td>Front tyre</td>
          <td>120/70 R19 Continental Attack</td>
          <td>100/90 V18 Pirelli Phantom</td>
        </tr>
        <tr>
          <td>Rear tyre</td>
          <td>170/60 R17 Continental Attack</td>
          <td>110/90 V18 Pirelli Phantom</td>
        </tr>
        <tr>
          <td>Fuel capacity</td>
          <td>30 litres</td>
          <td>23 litres</td>
        </tr>
        <tr>
          <td rowspan="9">Rider and Safety aids</td>
          <td>ABS (including cornering ABS)</td>
          <td>Daytime running lights</td>
        </tr>
        <tr>
          <td>4-mode traction control</td>
          <td>Double stop/tail and rear fog lights</td>
        </tr>
        <tr>
          <td>Ride modes for engine power and semi-active front and rear suspension</td>
          <td></td>
        </tr>
        <tr>
          <td>Cruise control</td>
          <td></td>
        </tr>
        <tr>
            <td>Tyre pressure monitoring</td>
          <td></td>
        </tr>
        <tr>
          <td>LED daytime riding lights</td>
          <td></td>
        </tr>
        <tr>
          <td>LED cornering lights</td>
          <td></td>
        </tr>
        <tr>
          <td>Heated seats and handlebar grips</td>
          <td></td>
        </tr>
        <tr>
          <td>Immobiliser</td>
          <td></td>
        </tr>
      </tbody>
       <tfoot>
          <td colspan="3">Data compiled by <strong>Steve Allport</strong>.</td>
      </tfoot>
  </table>